{%extends 'todo/base.html'%}

{%block Title%}
  All Tasks
{%endblock%}

{% block content %}
  <h2>Vazifalar {{ count_completed }}/{{ tasks.count }}</h2>
    <a class="btn btn-outline-secondary" href="{% url 'add' %}">+Vazifa qo'shish</a>
    <ul class="task-list">
        {% for task in tasks %}
            <li class="task-card">
                <div class="task-status">
                    {% if task.is_completed %}
                        <span title="Vazifa bajargan">✅</span>
                    {% else %}
                        <span title="Vazifa bajarilmagan">❌</span>
                    {% endif %}
                </div>
                <div class="task-title">{{ task.title }}</div>
                {% if task.description %}
                    <div class="task-desc">{{ task.description|truncatechars:50 }}</div>
                {% endif %}
                <div class="task-actions">
                    {% if not task.is_completed %}
                        {%if user == task.user %}
                            <a href="{% url 'complete' task.id %}" class="btn btn-outline-secondary btn-sm">Bajarildi✅</a>
                    {% endif %}
                {%endif%}
                    <a href="{% url 'edit' task.id %}" class="btn btn-outline-secondary btn-sm">Yangilash</a>
                </div>
                <small>{{task.user.username}}</small>
            </li>
        {% empty %}
            <li>Vazifalar yo'q</li>
        {% endfor %}
    </ul>
{% endblock content %}

